/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/ HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*----------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------MOBILE STYLES------------------------------------------------*/
/*----------------------------------------------------------------------------------------------------------*/

html{
  font-family:  Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #708D81;
  max-width: 2080px;
}
  /*--------------------------------------------Navigation---------------------------------------------------*/

/* Dropdown Button */
.dropbtn {
    background-color: rgba(0,0,0,0);
    max-height: 40px;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    float: right;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    float: right;
    top: 5px;
    right: 5px;
  }

  #dropimg {
    max-width: 50px;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: -100%;
    background-color: #f1f1f1;
    max-width: 300px;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
  }
  
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /*---------------------------------------------Home Page-----------------------------------------------*/
  #aestethic {
    width: 100vw;
    max-width: 1200px;
    max-height: 315px;
    position: absolute;
    margin: 0;
  }

  #homeh1{
    top: 280px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3.5rem;
    color: white;
    font-weight: 100;
    margin:0;
    position: relative;
    color: white;
    z-index:5;
  }
  .navbar {
    visibility: hidden;
    height: 0px;
    margin:0px;
  }

  .group {
    line-height: 30px;
  }
  .homebox1 {
    color: #6D6562;
    z-index:10;
    position:relative; 
    margin: 25px;
    padding-top:300px;
    display: grid;
      grid-template-columns: 0.5fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "homeaboutbuttonpadding wyntk wyntk"
        "homeaboutbuttonpadding homebox1p homebox1p"
        "homeaboutbuttonpadding homebox1p homebox1p";
    }

    
    #wyntk { 
      grid-area: wyntk;
      background-color: white;
      margin:0px;
      padding-top:25px;
     }
    
    #homebox1p { 
      grid-area: homebox1p; 
      background-color: white;
      margin:0px;
      padding-bottom:25px;
      padding-right: 25px;
      line-height: 20px;
    }
    
    #homeaboutbutton { 
      position: absolute;
      background-color: #03012C;
     color: #ddd;
     border: none;
     padding: 15px;
      writing-mode: vertical-lr;
      text-orientation: mixed;
      transform: rotate(270deg);
      border-radius: 50px;
      width: 180px;
      height:auto;
    }

    #homeaboutbutton:hover {
      background-color: #6D6562;
      border-width: 1px;
      border-style: solid;
      border-color: #733D35;
      box-shadow: 0.2rem 0.2rem #03012C;
    }

    #homeaboutbuttonpadding {
      grid-area: homeaboutbuttonpadding;
      background-color: white;
      margin:0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
   
    .homeimage1 {
      margin: 25px;
    }
    .homeimage2 {
      margin: 25px;
    }

  #mushroom {
    max-width: 100%;
  }
  
  .homebox2 {
    background-color: white;
    margin: 25px;
    padding:25px;
    color: #6D6562;
    z-index:10;
    position:relative; 
    display: grid; 
    grid-template-columns: 1fr 1fr 0.5fr; 
    grid-template-rows: 0.3fr 1.6fr 1.1fr; 
    grid-template-areas: 
      "homebox2h2 . ."
      "box2p1 box2p2 homecontactbuttonpadding"
      "box2p1 box2p2 ."; 
  }

  #homebox2h2 {
     grid-area: homebox2h2; 
    }

  #box2p1 { 
    grid-area: box2p1; 
  }

  #homecontactbutton {
    position: absolute;
    background-color: #03012C;
    color: #ddd;
    border: none;
    top: 170px;
    padding: 15px;
    right: -25px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(270deg);
    border-radius: 50px;
    width: 180px;
    height:auto;
  }

  #homecontactbutton:hover {
    background-color: #6D6562;
    border-width: 1px;
    border-style: solid;
    border-color: #03012C;
    box-shadow: 0.2rem 0.2rem #733D35;
  }
  #homecontactbuttonpadding { 
    grid-area: homecontactbuttonpadding; 
    background-color: white;
    margin:0;
    padding-top: 50px;
    right: auto;
  }

  #box2p2 { 
    grid-area: box2p2; 
  }
 
  #forestportrait {
    max-width: 100%;
  }
     /*---------------------------------------------About Page------------------------------------------*/
    
     .abouth1div {
      width: 340px;
    margin-left: auto;
    margin-right: auto;
    }
  
     #abouth1 {
      font-family: Verdana, Tahoma, sans-serif;
      font-size: 3.5rem;
      color: white;
      font-weight: 100;
      margin:30px;
     }
   .aboutimagebox {
     justify-content: center;

   }

     #boudoirportrait {
      width: 80%;
      max-width: 1000px;
      margin-right: auto;
      margin: 25px;
      margin-left: 12%;
      box-shadow: -1.72rem 1.72rem #03012C;
     }

     .aboutbox1 {
      color: white;
      z-index: 2;
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin: 25px;
      padding: 15px;
     }

     .aboutoffset1 {
      z-index: 0;
      background-color: #03012C;
      padding-top: 30px;
      padding-right: 30px;
      box-shadow: -1.72rem 1.72rem #B5A886;
     }

     .aboutoffset2 {
      z-index: 1;
      background-color: rgba(181,168,134,0.6);
      padding-top: 16px;
      padding-left: 25px;
      bottom: -15px;
      left: -55px;
     }

     .aboutgallerybuttondiv {
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
     }
     #aboutgallerybutton {
      background-color: #03012C;
      color: #ddd;
      border: none;
      border-radius: 50px;
      width: 180px;
      height:50px;
      margin: 15px;
     }

     #aboutgallerybutton:hover {
       background-color: #733D35;
       color:#ddd;
       border-width: 1px;
       border-style: solid;
       border-color: #03012C;
       box-shadow: 0.2rem 0.2rem #03012C;
     }
    /*---------------------------------------------Gallery Page------------------------------------------*/
    #dancedress {
      max-width: 100%;
      height: 270px;
      position: absolute;
      margin: 0;
      width: 100vw;
     margin: 0;
     z-index: -1;
     margin-left: auto;
     margin-right: auto;
    }
  
    #galleryh1{
      top: 240px;
      font-family: Verdana, Tahoma, sans-serif;
      font-size: 3.5rem;
      color: white;
      font-weight: 100;
      margin:0;
      position: relative;
      color: white;
      z-index:5;
    }
    .galleryp1 {
      padding-top:230px;
      color: white;
      
    }
    #gallerywelcome {
      background-color: rgba(181,168,134,0.6);
      padding: 15px;
      font-size: larger;
    }

    .gallerybox1 {  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px; 
      grid-template-areas:
        "moon1 sunset greeneye"
        "blackportrait hands oilspill"
        "fire treelandscape moon2";
    }
    
    .gallerybox1padding { 
     background-color: white;
     height: 75px;
     padding-top: 10px;
     text-align:center;
     margin-left: auto;
     margin-right: auto;
    }

    #gallerybox1h2 {
      background-color: #03012C;
      color: white;
      font-weight: 100;
      border-radius: 40px;
      width:200px;
      height: 30px;
      margin-left: auto;
      margin-right: auto;
    }
    
    #moon1 {  grid-area: moon1;  }
    #sunset { grid-area: sunset;  }
    #greeneye {  grid-area: greeneye;  }
    #blackportrait {  grid-area: blackportrait;  }
    #hands { grid-area: hands;  }
    #oilspill { grid-area: oilspill; } 
    #fire { grid-area: fire; }   
    #treelandscape {  grid-area: treelandscape;  }
    #moon2 { grid-area: moon2; }
    
     .gallery1img {
       width: 100%;
       transition: all 1s ease-in-out;
       animation-delay: 5s;
     }

    .gallery1img:hover { 
      transform: scale(1.5); 
    }

     .gallerybox2 {  
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 0px 0px; 
      grid-template-areas:
        "forest chamaleon moutainside"
        "purpleportrait mushroomgal jellyfish"
        "teapot parrot forestportraitgal";
    }
    
    .gallerybox2padding { 
      background-color: white;
      margin-top: 25px;;
      height: 75px;
      padding-top: 10px;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
     }
 
     #gallerybox2h2 {
       background-color: #03012C;
       color: white;
       font-weight: 100;
       border-radius: 40px;
       width:200px;
       height: 30px;
       margin-left: auto;
       margin-right: auto;
     }
     
    
    #forest { grid-area: forest; }
    #chamaleon { grid-area: chamaleon; }
    #moutainside { grid-area: moutainside; }
    #purpleportrait {  grid-area: purpleportrait; }
    #mushroomgal { grid-area: mushroomgal; }
    #jellyfish { grid-area: jellyfish; }
    #teapot { grid-area: teapot; }
    #parrot { grid-area: parrot; }
    #forestportraitgal { grid-area: forestportraitgal; }
    
    .gallery2img {
      width: 100%;
      transition: all 1s ease-in-out;
    }

   .gallery2img:hover { 
     transform: scale(1.5); 
   }

     #gallerybox3h2 { 
      color:white;
       
     }
     
     .gallerybox3 {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr; 
      grid-template-rows: 1fr 1fr 1fr; 
      gap: 0px 0px; 
      grid-template-areas: 
        "airplane turtle bigben"
        "whitelandscape treeportrait pigeon"
        "books flying moutains"; 
    }
    #airplane { grid-area: airplane; }
    #turtle { grid-area: turtle; }
    #bigben { grid-area: bigben; }
    #whitelandscape { grid-area: whitelandscape; }
    #treeportrait { grid-area: treeportrait; }
    #pigeon { grid-area: pigeon; }
    #books { grid-area: books; }
    #flying { grid-area: flying; }
    #moutains { grid-area: moutains; }

    .gallerybox3padding { 
      background-color: white;
      margin-top: 25px;;
      height: 75px;
      padding-top: 10px;
      text-align:center;
      margin-left: auto;
      margin-right: auto;
     }
 
     #gallerybox3h2 {
       background-color: #03012C;
       color: white;
       font-weight: 100;
       border-radius: 40px;
       width:200px;
       height: 30px;
       margin-left: auto;
       margin-right: auto;
     }
    
    .gallery3img {
      width: 100%;
      transition: all 1s ease-in-out;
    }

   .gallery3img:hover { 
     transform: scale(1.5); 
   }
    /*---------------------------------------------Contact Page------------------------------------------*/

    #contacth1 {
      font-family: Verdana, Tahoma, sans-serif;
      font-size: 3.5rem;
      color: white;
      font-weight: 100;
      margin:0;
    }

    .text-padding {
      padding: 5px;
      left: 15px;
    }

    .message-padding {
      padding: 5px;
      left: 25px;
    }

     .contactbox {
       max-width: 1200px;
       margin-left: auto;
       margin-left: auto;
      color: white;
      z-index: 2;
      position: relative;
      margin: 25px;
      padding: 15px;
    } 

    .contactoffset1 {
      z-index: 0;
      background-color: #03012C;
      padding-top: 30px;
      padding-right: 30px;
      box-shadow: -1.72rem 1.72rem #B5A886;
    } 

    .contactoffset2 {
      z-index: 1;
      background-color: rgba(181,168,134,0.6);
      bottom: -15px;
      left: -55px;
    }

    .text-padding {
      margin: 15px;
    }
   
    #fullname {
      margin: 15px;
      width: 95%;
      height: 20px;
    }

    #youremail {
      margin: 15px;
      width: 95%;
      height: 20px;
    }

    #message {
      margin: 15px;
      width: 95%;
      height: 75px;
    }

    .send-button {
      background-color: #03012C;
     color: #ddd;
     border: none;
     margin: 15px;
     padding: 15px;
      border-radius: 50px;
      width: 180px;
      height:auto;
    }

    .send-button:hover {
      background-color: #253258;
      color:#ddd;
      border-width: 1.5px;
      border-style: solid;
      border-color: #03012C;
      box-shadow: 0.2rem 0.2rem #03012C;
    }

    .imagebox {
      box-shadow: 1.72rem 1.72rem #03012C;
      top: 15px;
      padding:0;
      margin:50px;
    } 
    
    #milkyway { 
      width: 100%;
    }
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------TABLET STYLES-------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
 
 
@media screen and (min-width: 820px){

  /*--------------------------------------------Navigation---------------------------------------------------*/
.dropdown {
  visibility: hidden;
  max-height: 1px;
 }
 .navbar{
   visibility: visible;
   height:30px;
   max-width: 80%;
   margin-left: auto;
   margin-right: auto;
   z-index: 1;
   background-color: rgba(181,168,134,0.6);
 }

  .nav-container ul{
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px #707070;
    padding:15px;
  }

  .nav-item {
    display: block;
  }
  .nav-link {
    text-decoration: none;
    color: white;
  }

 #logo {
   max-width: 50px;
 }
 

/*---------------------------------------------Home Page-----------------------------------------------*/
#aestethic {
  width: 100vw;
  margin: 0;
  z-index: -1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#homeh1{
  position: absolute;
  padding-top: 10px;
  z-index:5;
}


 .home1 {
   display: flex;
   flex-direction: row-reverse;
   height: 500px;
  min-width: 800px;
   justify-content: center;
   align-items: center;
 }

.homebox1 {
  top: 150px;
   min-width: 400px;
   width: 100%;
  height: 425px;
  position: relative; 
  right: 20px;
}
#mushroom {
  height:425px;
  max-width: 400px;
}

.homeimage1 {
  top: 300px;
  position: relative;
  left: 30px;
  
}

.home2 {
  display: flex;
  flex-direction: row;
  height: 500px;
  margin-bottom: 50px;
  min-width: 800px;
  justify-content: center;
  align-items: center;
}

.homebox2 {
  top:300px;
  min-width: 400px;
  width: 100%;
  height: 380px;
  position: relative; 
  left: 60px;
}

#forestportrait {
  height:425px;
  max-width: 400px;
  
}
.homeimage2 {
  top: 300px;
  position: relative;
  right: 30px;
}

.homefooter {
  position: relative;
  padding-top: 220px;
}

   /*---------------------------------------------About Page------------------------------------------*/


  /*---------------------------------------------Gallery Page------------------------------------------*/
  #dancedress {
    position: relative;
    width: 100vw;
   margin: 0;
   z-index: -1;
   max-width: 100%;
   margin-left: auto;
   margin-right: auto;
  }

  #galleryh1{
    top: 10px;
    left: 60px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
  .galleryp1 {
    padding-top:10px;
    color: white;
    z-index: 10;
  }
  #gallerywelcome {
    background-color: rgba(181,168,134,0.6);
    padding: 15px;
    font-size: larger;
    z-index: 10;

  }

  .galbox1 {
    display: flex;
  }

  .gallerybox1 {
    max-width: 650px;
    max-height: 650px;
  }

  .gallerybox1padding {
    height: 650px;
    width: 50%;
    left: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .galbox2 {
    display: flex;
    flex-direction: row-reverse;
  }

  .gallerybox2 {
    margin-top: 50px;
    max-width: 650px;
    max-height: 650px;
  }

  .gallerybox2padding {
    margin-top: 50px;
    height: 650px;
    width: 50%;
    left: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
 

  .galbox3 {
    display: flex;
  }

  .gallerybox3 {
    margin-top: 50px;
    max-width: 650px;
    max-height: 650px;
  }

  .gallerybox3padding {
    margin-top: 50px;
    height: 650px;
    width: 50%;
    left: 10px;
    display:flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  /*---------------------------------------------Contact Page------------------------------------------*/
 #contacth1 {
    top: 10px;
    left: 60px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }
 
  .contactbox { 
    left: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto; 
  
  }

  .imagebox {
    box-shadow: 1.72rem 1.72rem #03012C;
    padding:0;
    margin:50px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  #milkyway { 
    width: 100%;
    max-width: 500px;
  }

}

/*-----------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------WEB STYLES-------------------------------------------------------------*/
/*-----------------------------------------------------------------------------------------------------------------------------------------*/
 

@media screen and (min-width: 1200px){ 

/*-----------------------------------------------------------------HOME PAGE------------------------------------------------------------------------*/

  #aestethic {
    width: 100vw;
    max-height: 615px;
    margin-left: auto;
    margin-right: auto;
    margin: 0;
  }

  #homeh1{
    position: absolute;
    padding-top: 290px;
    font-size: 5.5rem;
    z-index:5;
  }


 .home1 {
  display: flex;
  flex-direction: row-reverse;
  height: 600px;
 min-width: 800px;
  justify-content: center;
  align-items: center;
}

.homebox1 {
 top: 550px;
  min-width: 600px;
  width: 100%;
 height: 625px;
 position: relative; 
 right: 20px;
}
#mushroom {
 height:625px;
 max-width: 600px;
}

.homeimage1 {
 top: 700px;
 position: relative;
 left: 30px;
}

#wyntk {
  font-size: 36px;
}
#homebox1p {
  font-size: 20px;
  line-height: 30px;
}

#homeaboutbuttonpadding {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

#homeaboutbutton {
  padding: 25px;
  width: 250px;
  font-size: 26px;
}

.home2 {
 display: flex;
 flex-direction: row;
 height: 600px;
 margin-bottom: 50px;
 min-width: 800px;
 justify-content: center;
 align-items: center;
}

.homebox2 {
 top:800px;
 min-width: 600px;
 width: 100%;
 height: 580px;
 position: relative; 
 left: 60px;
}

#homebox2h2 {
  font-size: 36px;
}

#forestportrait {
 height:625px;
 max-width: 600px;
 
}
.homeimage2 {
 top: 800px;
 position: relative;
 right: 30px;
}

#box2p1 {
  font-size: 20px;
  line-height: 30px;
}

#box2p2 {
  font-size: 20px;
  line-height: 30px;
}

#homecontactbuttonpadding {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  }

  #homecontactbutton {
    padding: 25px;
    width: 250px;
    top: 300px;
    font-size:  26px;
  }

.homefooter {
 position: relative;
 padding-top: 780px;
}

     /*---------------------------------------------About Page------------------------------------------*/
    
    .about {
      display: flex;
    }
     .aboutimagebox {
      display: flex;
      justify-content: center;
      max-width: 50%;
    }

    .aboutbox1 {
      max-width: 50%;
    }

    #aboutgallerybutton {
      font-size: 26px;
    }

    .aboutfooter {
      padding-top: 100px;
    }

  
    /*---------------------------------------------Gallery Page------------------------------------------*/
    #dancedress {
      height: 500px;
     max-width: 1500px;
     display: flex;
     margin-left: auto;
     margin-right: auto;
    }
  
    .galleryp1 {
      padding-top:10px;
      color: white;
      z-index: 10;
    }
    #gallerywelcome {
      max-width: 1500px;
      display: flex;
     margin-left: auto;
     margin-right: auto;
    }
  
    .galbox1 {
      display: flex;
      max-width: 1500px;
      margin-left: auto;
     margin-right: auto;
    }
  
    .gallerybox1 {
      max-width: 750px;
      max-height: 750px;
    }
  
    .gallerybox1padding {
      max-width: 750px;
      height: 750px;
    }
  
    #gallerybox1h2 {
      border-radius: 40px;
      width:250px;
      height: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    .galbox2 {
      display: flex;
      max-width: 1500px;
      flex-direction: row-reverse;
      margin-left: auto;
      margin-right: auto;
    }
  
    .gallerybox2 {
      margin-top: 50px;
      max-width: 750px;
      max-height: 750px;
    }
  
    .gallerybox2padding {
      right: 600px;
      max-width: 750px;
      height: 750px;
    }

    #gallerybox2h2 {
      border-radius: 40px;
      width:250px;
      height: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
  
    .galbox3 {
      display: flex;
      max-width: 1500px;
      margin-left: auto;
     margin-right: auto;
    }
  
    .gallerybox3 {
      margin-top: 50px;
      max-width: 750px;
      max-height: 750px;
    }
  
    .gallerybox3padding {
      height: 750px;
      width: 50%;
      left: 10px;
      display:flex;
      align-items: center;
      text-align: center;
      justify-content: center;
    }

    #gallerybox3h2 {
      border-radius: 40px;
      width:250px;
      height: 50px;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
    }
    
    /*---------------------------------------------Contact Page------------------------------------------*/
   .contact {
     display: flex;
   }
   
    #contacth1 {
      top: 10px;
      left: 60px;
      width: 340px;
      margin-left: auto;
      margin-right: auto;
    }
   
    .contactbox { 
      left: 10px;
      width: 50%;
    }
  
    .imagebox {
      box-shadow: 1.72rem 1.72rem #03012C;
      padding:0;
      margin:50px;
      width: 50%;
    }
  
    #milkyway { 
      width: 100%;
      max-width: 600px;
    }
  
  }
  